################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Autochess
/Binaries/Win64
/Intermediate
/Saved
*.sln
